body {
  height: 100vh;
  width: 100%;
}

.header {
  font-family: helvetica, arial, sans-serif;
  font-size: 4em;
  font-weight: 300;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 3px;
  margin: 50px 0 15px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.face {
  width: 200px;
  height: 200px;
  background-color: #999;
  border-radius: 15px;
  border: solid #888 3px;
  margin: 40px;
  padding: 15px;
  transform: scale(1);
  transition: all 250ms ease-in;
}

.face:hover {
  transform: scale(1.25);
  box-shadow: 10px 10px 50px #555;
  transition: all 250ms ease-in;
}

.pip {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two, .three, .four, .five, .six {
  display: flex;
  justify-content: space-between;
}

.two .pip:nth-of-type(2) {
  align-self: flex-end;
}

.three .pip:nth-of-type(2) {
  align-self: center;
}

.three .pip:nth-of-type(3) {
  align-self: flex-end;
}

.four .column, .five .column, .six .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five .column:nth-of-type(2) {
  justify-content: center;
}
