body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: helvetica, arial, sans-serif;
  font-size: 4em;
  font-weight: 300;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 3px;
  margin: 50px 0 15px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.face {
  width: 200px;
  height: 200px;
  background-color: #999;
  border-radius: 15px;
  border: solid #888 3px;
  margin: 40px;
  padding: 15px;
  transform: scale(1);
  transition: all 250ms ease-in;
}

.face:hover {
  transform: scale(1.25);
  box-shadow: 10px 10px 50px #555;
  transition: all 250ms ease-in;
}

.pip {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
}

.one, .one-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two, .three, .four, .five, .six, .two-thumb, .three-thumb, .four-thumb, .five-thumb, .six-thumb {
  display: flex;
  justify-content: space-between;
}

.one-thumb, .two-thumb, .three-thumb, .four-thumb, .five-thumb, .six-thumb {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}

.one-thumb .pip, .two-thumb .pip, .three-thumb .pip, .four-thumb .pip, .five-thumb .pip, .six-thumb .pip {
  width: 20px;
  height: 20px;
}

.two .pip:nth-of-type(2), .two-thumb .pip:nth-of-type(2) {
  align-self: flex-end;
}

.three .pip:nth-of-type(2), .three-thumb .pip:nth-of-type(2) {
  align-self: center;
}

.three .pip:nth-of-type(3), .three-thumb .pip:nth-of-type(3) {
  align-self: flex-end;
}

.four .column, .five .column, .six .column, .four-thumb .column, .five-thumb .column, .six-thumb .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five .column:nth-of-type(2), .five-thumb .column:nth-of-type(2) {
  justify-content: center;
}

.x {
  display: flex;
  justify-content: center;
  align-items: center;
  font: helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 18px;
  font-variant: small-caps;
  cursor: pointer;
}

.red-background {
  background-color: red;
}
