/* body section 1 - big dice upon throw */
.body-1 {
  flex: 2 2 250px;
  min-height: 250px;
  min-width: 85%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* body section 2 - thumbnails with highlight of the thrown number */
.body-2 {
  flex: 1 1 150px;
  min-width: 85%;
}
