/* header section - main heading + throw button */
header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-box {
  background-color: rgba(255, 255, 255, 0.35);
}

.heading {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  color: rgba(244,67,54 ,1);


  padding: 40px 25px 0px 25px;
  margin: 0 0 15px 0;
}

.throw-button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 65px;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;

  width: 150px;
  height: 65px;
  border: 4px solid rgba(239,154,154 ,1);
  background-color: rgba(255, 255, 255, 0.55);

  font: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: rgba(244,67,54 ,1);

  padding: 5px;
  margin-bottom: 10px;
}

.throw-button p {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.throw-button:hover {
  background-color: rgba(244,67,54 ,1);
  color: rgba(255, 255, 255, 0.75);
  border: 4px solid rgba(255, 255, 255, 0.75);
}
