.heading-mobile .heading {
  font-size: 20px;
}

.mobile .face {
  height: 100px;
  width: 100px;
  border-radius: 6px;
  padding: 5px;
  border: solid #888 1.5px;
}

.pip-mobile {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #333;
}

.two .pip-mobile:nth-of-type(2) {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.three .pip-mobile:nth-of-type(2) {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.three .pip-mobile:nth-of-type(3) {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.footer-mobile section p {
  font-size: 14px;
}

.footer-mobile section p:first-of-type {
  display: none;
}
